*{
    margin: 0;
    padding : 0;
}

body{
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 3px rgb(41, 39, 39);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50%;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: grey;
}

nav li:first-child{
    margin-right: auto; 
}
.sidebar{
 position: fixed;
 top: 0;
 right: 0;
 height: 300px;
 width: 250px;
 z-index:999;
 background-color: white;
 backdrop-filter: blur(10px);
 display: flex;
 flex-direction: column;
 align-items:flex-start;
 justify-content: flex-start;
 display: none;
}
.hg{
 height: 30px;
}

.hg li{
    height: 100%;
}

.hg a{
    height: 100%;

}

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

#body-div{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    margin-top: 8px;
}
#sec-div{
    background-color: lightsalmon ;
    height: 100vh;
}

@media(max-width: 800px){
    .hideonMoblie{
        display: none;
    }
}